{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
<center
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='img/giwa.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Contact us - Giwa Tresiara</h5>
    <p class="card-text"> Untuk informasi seputar gunung dan peralatan outdoor bisa kontak saya di: </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Whatsapp : 0822-1846-3585</li>
    <li class="list-group-item">Instagram : @tresiara</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Whatsapp link</a>
    <a href="https://www.instagram.com/tresiara_/?hl=id" class="card-link">Instagram link</a>
  </div>
</div>
</center>
{% endblock %}
