{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block title %}Gunung{% endblock %}
{% block content %}
<div class="container">
<center
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='img/1_Gunung Cartenz.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">1. Cartenz Pyramid/Puncak Jaya, Gunung Jaya Wijaya</h5>
    <p class="card-text"> Puncak Cartenz ini adalah puncak dari Gunung Jaya Wijaya yang berada di Papua yang mempunyai ketinggian 4884 Mdpl. Cartenz Pyramid bukan hanya masuk sebagai 7 puncak tertinggi di Indonesia, tapi juga termasuk dalam tujuh puncak tertinggi di dunia. Nah, di puncak Jaya adalah satu – satunya yang terdapat gletser tropika di Indonesia yang salah satunya itu adalah Gletser Carstensz. Namun sayang, kemungkinan besar gletser di puncak Jaya ini sudah semakin lenyap akibat pemanasan global.  </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link"> </a>
    <a href="#" class="card-link"> </a>
  </div>
</div>
</center>

<div class="container">
<center
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='img/2_Gunung Kerinci.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">2. Puncak Indrapura, Gunung Kerinci</h5>
    <p class="card-text"> Yang kedua adalah Puncak Indrapura di Gunung Kerinci, atap dari pulau Sumatera tepatnya Terletak di 2 provinsi yaitu Jambi dan Sumatra barat. Gunung Kerinci mempunyai ketinggian 3.800 Mdpl dengan puncak tertinggi adalah Puncak Indrapura. Gunung ini juga termasuk salah satu gunung berapi yang masih aktif hingga sekarang ini. Gunung Kerinci berbentuk kerucut dan memanjang dari Utara sampai Selatan. Gunung Kerinci juga masuk ke dalam bagian Taman Nasional Kerinci Seblat (TKNS). </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link"> </a>
    <a href="#" class="card-link"> </a>
  </div>
</div>
</center>

<div class="container">
<center
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='img/3_Gunung Rinjani.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">2. Puncak Gunung Rinjani</h5>
    <p class="card-text"> Nah yang ketiga ada Gunung Rinjani di Pulau Lombok, Nusa Tenggara Barat. Gunung Rinjani mempunyai ketinggian 3.726 Mdpl. Salah satu gunung favorit bagi para pendaki karena mempunyai pemandangan yang ngga kalah indahnya dengan gunung – gunung lain di Indonesia. Sebut saja dengan Danau Segara Anak, salah satu objek unggulan Taman Nasional Gunung Rinjani yang bisa ditempuh melalui dua jalur resmi pendakian, yaitu jalur Senaru dan jalur Sembalun. Belum lama ini anak gunung Rinjani juga baru aja meletus dan efeknya bandara di Banyuwangi harus ditutup sementara karena sebaran abu vulkanik anak gunung Rinjani.  </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link"> </a>
    <a href="#" class="card-link"> </a>
  </div>
</div>
</center>
{% endblock %}
