{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}>
{% endblock %}
{% block title %}Gunung dan Outdoor Store{% endblock %}
{% block content %}

<div class="col-md-12 ">
  <center>
  <font color="Black"><h1 class="display-12">Gunung dan Outdoor Store</h1>
  <p class="lead">Website ini memberikan informasi tentang gunung tertinggi di Indonesia dan daftar tempat membeli peralatan outdoor.</p>
  <hr class="my-12">
  <p>Design by : Giwa Tresiara&copy;</p>
  <p class="lead">
    <a class="btn btn-outline-info btn-lg" href="/contact" role="button">Contact us</a>
  </p>
</div>
{% endblock %}
